.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

.list {
  margin-right: 12px;
  width: 100%;
  max-width: 220px;
}

.card {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  background: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  text-align: center;
}

.card:hover {
  background-color: #f8f9fb;
}

.column {
  border: 1px solid #ddd;
  width: 100%;
  margin: 0 8px;
  max-width: 220px;
  height: 560px;
}

.column h2 {
  text-align: center;
  background-color: #f2f3f5;
  margin: 0;
  font-size: 16px;
  padding: 6px 0px;
}

.column button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  background: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  text-align: center;
}

.column-body {
  padding: 10px;
}